<div class="row">
    <div class="col-md-6">
        {{ form_row(form.full_name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.enabled) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.profileRoles) }}
    </div>
</div>
