{#
{% if form is defined and form.vars is defined and not form.vars.valid %}

    {% set errorsArray = [] %}
    {% for child in form.children %}
        {% for error in child.vars.errors %}
            {% set errorsArray = errorsArray|merge([error.message]) %}
        {% endfor %}
    {% endfor %}
    {% if errorsArray|length %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
            </button>
            <ul class="mb-0 list-unstyled">
                {% for error in errorsArray %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

{% endif %}
#}

{% for type, messages in app.session.flashbag.all() %}
    <div class="alert alert-{{ type }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span>
        </button>
        <ul class="mb-0 list-unstyled">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
