{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card card-register mx-auto mt-3">
            <div class="card-header">Регистрация на акаунт</div>
            <div class="card-body">
                <form name="user" class="form-horizontal" action="{{ path('user_register') }}" method="post">
                    <input type="hidden" name="user[_token]" value="{{ csrf_token('user') }}"/>
                    <div class="form-group">
                        <label class="control-label" for="user_full_name">Име</label>
                        <input type="text" class="form-control" id="user_full_name" placeholder="Име, презиме, фамилия"
                               name="user[full_name]" autofocus="autofocus" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user_email">И-мейл</label>
                        <input type="email" id="user_email" name="user[email]" placeholder="И-мейл"
                               class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user_password_first">Парола</label>
                        <input type="password" class="form-control" id="user_password_first" placeholder="Парола"
                               name="user[password][first]" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="user_password_second">Повтори парола</label>
                        <input type="password" class="form-control" id="user_password_second" placeholder="Повтори парола"
                               name="user[password][second]" required>
                    </div>
                    <button type="submit" class="btn btn-dark btn-block"><i class="fas fa-user"></i> Регистрирай</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="{{ path('security_login') }}">Вход</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
