.checkbox_container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.checkbox_container > .form-check {
    width: 33%;
}

@media (max-width: 780px) {
    .checkbox_container > .form-check {
        width: 50%;
    }
}

@media (max-width: 560px) {
    .checkbox_container > .form-check {
        width: 100%;
    }
}

.card-login, .card-register {
    max-width: 25rem;
}

.dataTables_length {
    float: left;
}

.dataTables_wrapper .html5buttons {
    margin-bottom: .6em;
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    right: 1.5em !important;
}
