{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('car_index') }}">Списък</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ново МПС</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Ново МПС</h3>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'multipart': true}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Данни за МПС</h5>
                </div>
                <div class="card-body">
                    {% include 'car/forms/car.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
