{% extends 'base.html.twig' %}

{% block title %}Плащания по застраховки на МПС{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Плащания по застраховки на МПС</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h4>Просрочени плащания</h4>
    {% include 'report/partials/table.html.twig' with {'payments': overdue_payments} only %}

    <h4>Плащания до 1 седмица</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_one_week} only %}

    <h4>Плащания до 2 седмици</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_two_weeks} only %}

    <h4>Плащания до 3 седмици</h4>
    {% include 'report/partials/table.html.twig' with {'payments': payments_after_three_weeks} only %}

{% endblock %}
