{% extends 'base.html.twig' %}

{% block title %}Плащания по застраховки на МПС{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Плащания по застраховки на МПС</li>
        </ol>
    </nav>
{% endblock %}

{% block body %}
    <h3>Просрочени плащания (общо 543 316,93 лв.)</h3>


    <h3>Плащания до 1 седмица (общо 12 336,76 лв.)</h3>

    <h3>Плащания до 2 седмици (общо 7 107,34 лв.)</h3>

    <h3>Плащания до 3 седмици (общо 9 420,20 лв.)</h3>

{% endblock %}
