{% extends 'base.html.twig' %}

{% block body_id 'login' %}

{% block body %}

    <div class="container">
        <div class="card card-login mx-auto mt-3">
            <div class="card-header">Вход</div>
            <div class="card-body">
                <form name="authenticate" class="form-horizontal" action="{{ path('security_login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <input type="hidden" name="_target_path" value="{{ path('policy_index') }}"/>
                    <div class="form-group">
                        <label class="control-label" for="user_email">И-мейл</label>
                        <input type="email" id="user_email" name="_username" placeholder="И-мейл"
                               class="form-control" required="required" autofocus="autofocus">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Парола</label>
                        <input type="password" id="password" name="_password" placeholder="Парола"
                               class="form-control" required="required">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-lock"></i> Вход</button>
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="register.html">Регистрирай акаунт</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
